<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
  </head>

  <body>
    {{> header}}
    <p>lorem ipsum cats are kewl</p>

    {{> footer}}
  </body>
</html>