<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
  </head>

  <body>
    <h1>currently updating</h1>
    <p>this site is currently updating and will be back soon.</p>
  </body>
</html>